body {
    margin: auto;
    max-width: 1360px;
    width: 100%;
    height: 2500px;
}

.main_block {
    background-color: rgb(251, 251, 251);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.section_name {
    text-transform: uppercase;
}

.main_block section:nth-child(1) {
    background: url(../img/upperbg.png);
    background-repeat: round;
    width: 1360px;
    height: 759px;
    color: rgb(251, 251, 251);
}

.main_block section:nth-child(2) {
    border: 1px solid black;
    margin: 100px 298px;
    line-height: 2;
    padding-bottom: 50px
}

.main_block section:nth-child(2) .section_name {
    position: relative;
    top: -48px;
    left: 205px;
    width: 350px;
    background-color: rgb(251, 251, 251);
}

fieldset {
    color: rgb(251, 251, 251);
    line-height: 2;
    border: 1px solid rgb(251, 251, 251);
    margin-inline-start: 298px;
    margin-inline-end: 298px;
    padding-block-start: 0em;
    padding-inline-start: 0em;
    padding-inline-end: 0em;
    padding-block-end: 0em;
    border-width: 1px;
}

fieldset .section_name {
    font-size: 20pt;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: bold;
    
}

legend {
    width: 350px;
}

.main_block section:nth-child(3) div {
    background-image: url(../img/midbg.png);
    background-repeat: round;
    max-width: 1360px;
    height: 350px;
    padding-top: 30px;
}

.main_block section:nth-child(4) {
    border: 1px solid black;
    margin: 100px 298px;
    line-height: 2;
    padding-bottom: 50px;
}

.main_block section:nth-child(4) .section_name {
    position: relative;
    top: -48px;
    left: 205px;
    width: 350px;
    background-color: rgb(251, 251, 251);
    margin-bottom: -50px;
}

.main_block section:nth-child(4) img {
    padding-top: 100px;
}


section:nth-child(5) {
    height: 390px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    object-fit: cover;
    max-width: 1360px;
    width: 100%;
}

.main_block section:nth-child(6) {
    border: 1px solid black;
    margin: 100px 298px;
    line-height: 2;
    padding-bottom: 20px;
}

.main_block section:nth-child(6) .section_name {
    position: relative;
    top: -48px;
    left: 205px;
    width: 350px;
    background-color: rgb(251, 251, 251);
    margin-bottom: -50px;
}

.main_block section:nth-child(6) p:nth-child(2) {
    padding-top: 50px;
}

button {
    width: 200px;
    height: 60px;
    background-color: rgb(59, 59, 59);
    text-transform: uppercase;
    color: rgb(251, 251, 251);
    font-weight: bold;
    font-size: 18px;
    margin-top: 35px;
    cursor: pointer;
}

button:active {
    background-color: rgb(219, 34, 34);
}

.main_block section:nth-child(7) {
    margin-bottom: 25px;
    margin-top: -25px;
}

.main_block section:nth-child(7) img {
    width: 30px;
    height: 31px;
    padding-right: 15px;
}

.main_block section:nth-child(7) img {
    font-size: 10pt;
}

.pictures div {
    background-repeat: round;
}

.imgs p {
    font-size: 15pt;
    text-transform: uppercase;
    color: rgb(243, 243, 243);
    text-align: left;
    position: relative;
    top: 120px;
    left: 30px;
    font-weight: 600;
}

.pictures div:nth-child(1) {
    background-image: url(../img/dw_up_left.png);
    width: 375px;
    margin-bottom: 10px;
}

.pictures div:nth-child(2) {
    background-image: url(../img/dw_up_mid.png);
    width: 580px;
    margin-bottom: 10px;
}

.pictures div:nth-child(3) {
    background-image: url(../img/dw_up_right.png);
    width: 375px;
    margin-bottom: 10px;
}

.pictures div:nth-child(4) {
    background-image: url(../img/dw_dw_left.png);
    width: 375px;
}

.pictures div:nth-child(5) {
    background-image: url(../img/dw_dw_mid.png);
    width: 580px;
}

.pictures div:nth-child(6) {
    background-image: url(../img/dw_dw_right.png);
    width: 375px;
}

.main_name {
    font-size: 30pt;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: bold;
}

.main_text {
    text-transform: uppercase;
    font-size: 12pt;
    line-height: 2;
}

.section_name {
    font-size: 20pt;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: bold;
}

.subsection_name {
    font-size: 14pt;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 20px;
    font-weight: 600;
}

.subsection_text {
    font-size: 12pt;
}

.section_text {
    font-size: 12pt;
}

.section_name p:first-child {
    text-transform: uppercase;
}

.main_block section:nth-child(1) img:first-child {
    position: relative;
    top: 180px;
    transform: scale(.7);
}

.main_block section:nth-child(1) p {
    position: relative;
    top: 180px;
}

.main_block section:nth-child(1) img:last-child {
    position: relative;
    top: 310px;
    transform: scale(.65);
}

